@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No stylists/clients exist!</h3>
  <p>Add a stylist and client @Html.ActionLink("View all stylists", "Index", "Stylists")</p>
} 
else
  {
  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
  }
  <br>
  <div class="Client">
  <p>@Html.ActionLink("Add new client", "Create")</p>
  </div>
  <div class="Stylist">
  <p>@Html.ActionLink("View all stylists", "Index", "Stylists")</p>
  </div>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>